body {
    background-color: black;
    color: white;
    font-family: 'Toppan Bunkyu Midashi Mincho';
    font-weight: bold;
}

main {
    margin-top: 100px;
}

.App {
    text-align: center;
}

.shop-title {
    text-align: left;
    background-color: black;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.shop-image {
    margin-top: 15px;
    margin-left: 3px;
    height: 60px;
}

.icon-image {
    margin-top: 15px;
    margin-left: 5px;
    height: 45px;
}


.under-line1 {
    border: 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-area {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    color: white;
}

.border-lineno {
    padding: 2px 8px;
}

.border-lineno:hover {
    text-decoration: underline;
}

.border-line {
    border-left: 1px solid white;
    padding: 2px 8px;
    color: white;
}

.border-line:hover {
    text-decoration: underline;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: solid 1px #dddddd;
    font-size: 16px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
    outline: none;
    color: currentColor;
    appearance: none;
    border-radius: 0;
    resize: none;
}

label {
    font-family: 'Arial Black';
}

.footer-icon-image {
    width: 40px;
}

.twitter-image {
    margin-bottom: 2px;
    margin-left: 8px;
}

.footer-icon {
    margin-top: 10px;
    margin-left: 10px;
}

.copyright {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}