.home-title {
    position: relative
}

.title-text {
    width: 375px;
    font-size: 28px;
    position: absolute;
    top: 25%;
    left: 195px;
    transform: translate(-38%, -50%);
}

.title-image {
    width: 375px;
    margin-left: 30px;
}

.title-comment {
    width: 375px;
    font-size: 15px;
    position: absolute;
    bottom: 18%;
    left: 135px;
    transform: translate(-33%, -50%);
}

.title-com {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    text-decoration: underline;
}

.about-image {
    padding-top: 20px;
    display: block;
    width: 300px;
    margin: auto;
}

.about-comment {
    padding-top: 16px;
    font-size: 16px;
    text-align: center;
}

.about-comment2 {
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    text-align: center;
}

.view-area {
    margin-top: 25px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
}

.view-more {
    font-size: 18px;
    border: solid 1px white;
    padding: 10px 65px;
}

.product-image-area {
    margin-top: 15px;
}

.product-image {
    height: 180px;
    display: block;
    margin: auto;
    padding-left: 92px;
    padding-right: 92px;
    border: solid 1px white;
}


.gallery-image-area {
    margin-top: 15px;
}

.gallery-image {
    height: 180px;
    display: block;
    margin: auto;
    border: solid 1px white;
}

.contact-view {
    font-size: 18px;
    border: solid 1px white;
    padding: 10px 25px;
}

.contact-image-area {
    margin-top: 15px;
    margin-bottom: 30px;
}

.contact-image {
    height: 180px;
    display: block;
    margin: auto;
    border: solid 1px white;
}

.gallery-comment {
    margin-left: 50%;
    text-align: center;
}