.title-com {
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
    text-decoration: underline;
}

.about-comment {
    padding-top: 16px;
    font-size: 16px;
    text-align: center;
}

.product-title {
    padding-top: 16px;
    padding-bottom: 22px;
    font-size: 20px;
    text-align: center;
}

.back-image {
    margin-left: 23px;
    height: 160px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px white;
}

.image-areaA {
    display: flex;
}

.back-area {
    position: relative
}

.position-comment {
    width: 390px;
    font-size: 22px;
    position: absolute;
    bottom: 0%;
    left: 135px;
    transform: translate(-27%, 0%);
}

.image-comment {
    width: 390px;
    font-size: 14px;
    position: absolute;
    bottom: 89%;
    left: 234px;
    transform: translate(-27%, 0%);
}

.front-area {
    position: relative
}

.front-image {
    margin-left: 23px;
    height: 160px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px white;
}

.image-areaB {
    margin-top: 23px;
    margin-bottom: 50px;
    display: flex;
}

.side-area {
    position: relative
}

.side-image {
    margin-left: 23px;
    height: 160px;
    padding-left: 27px;
    padding-right: 27px;
    border: solid 1px white;
}

.name-area {
    position: relative
}

.name-image {
    margin-left: 23px;
    width: 160px;
}

.name-comment {
    width: 390px;
    font-size: 14px;
    position: absolute;
    bottom: -28%;
    left: 0px;
    transform: translate(-27%, 0%);
}

.arrow-area {
    color: white;
    width: 390px;
    font-size: 50px;
    position: absolute;
    bottom: -91%;
    left: 20px;
    transform: rotate(45deg)
}

.basic-price1 {
    padding-left: 27px;
    font-size: 20px;
    text-align: center;
}

.basic-price2 {
    padding-left: 50px;
    font-size: 20px;
    text-align: center;
}

.custom-price1 {
    padding-left: 27px;
    font-size: 20px;
    text-align: center;
}

.custom-price2 {
    padding-left: 21px;
    font-size: 20px;
    text-align: center;
}

.price-style {
    padding-top: 5px;
    display: flex;
    text-align: center;
}

.jblbm-image {
    width: 220px;

}

.jblxbm-style {
    text-align: center;
    padding-top: 30px;
    font-size: 16px;
}

.raiders-comment {
    font-size: 15px;
    line-height: 1.5;
    padding: 6px;
    margin: 20px;
    border: solid 1px white;
    text-decoration: underline;
    border-radius: 5px;
}

.size-image {
    padding-top: 5px;
    width: 180px;
    display: block;
    margin: auto;
}

.size-comment {
    font-size: 12px;
    padding-bottom: 15px;
}

.color-image {
    margin-top: 10px;
    margin-right: 7px;
    margin-bottom: 15px;
    width: 60px;
    border: solid 1px white;
}