.HamburgerButton {
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: -13px;
    margin-left: 3px;
    overflow: hidden;
    z-index: 2;
}

.HamburgerButton_line {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: white;
}

.HamburgerButton_line:nth-child(1) {
    transform: translate(0, -16px);
}

.HamburgerButton_line:nth-child(2) {
    transform: translate(0, 0px);
}

.HamburgerButton_line:nth-child(3) {
    transform: translate(0, 16px);
}

.HamburgerButton-expanded > .HamburgerButton_line:nth-child(1) {
    transform: translate(0, 0) rotate(-45deg);
}

.HamburgerButton-expanded > .HamburgerButton_line:nth-child(2) {
    transform: translate(0, 0) rotate(45deg);
}

.HamburgerButton-expanded > .HamburgerButton_line:nth-child(3) {
    transform: translate(0, 0) rotate(45deg);
}