.slide-image {
    width: 320px;
}

/* ページネーションの余白 */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px 20px;
}

/* ページネーションのサイズと色 */
.swiper-pagination-bullet {
    background-color: red;
    height: 30px;
    width: 30px;
}
